@import "utilities/variables";
.side-naviguation{
    display:flex;
    flex-direction: column;
    
    padding: 0 1%;
    border-right: 1.3px solid #e4e3e3;

}
.brand img{
    width:60px;
}

.vertical-nav{
    list-style: none;
    padding:0;
    text-align: center;
    display:flex;
    flex-direction: column;
    height:85vh;
    justify-content: center;
   
    
   .item{
    margin : 50% 0;
    font-style: italic;

        a{
            text-decoration: none;
            color: #fefefe;
            font-size: 1.3em;
            font-weight:bold;
        }

        a:hover{
            color: $primary-color;
        }

        a:active{
            text-decoration: line-through;
        }
   }
     

    
}